@import '~vis';

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#syntax-tree {
    width: 50vw;
    height: 80vh;
    border: 1px solid lightgray;
    overflow-y: auto;
}

#tree-interface-panel {
    min-width: 400px;
    height: 40vh;
    border: 1px solid lightgray;
    overflow-y: auto;
}

#panel1, #tree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid lightgray;
}

#control-panel {
    width: 45vw;
    min-width: 200px;
    height: 400px;
    border: 1px solid lightgray;
    overflow-y: auto;
}

#main-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid lightgray;
}

.disabled-rule {
    pointer-events: none !important;
    opacity: 0.4;
    user-select: none;
}